.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
}

.userCard {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background-color: var(--color-white);
  border-radius: 5px;
}
