.title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-blue);
  font-weight: 600;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 10px;
}
