:root {
  --color-blue: #3595fb;
  --color-dark-blue: #0c60c6;
  --color-dark-gray: #2a2a2a;
  --color-gray: #bdbdbd;
  --color-white: #ffffff;
  --color-background: #f2f1f1;
  --color-red: #ce3a2a;
}
